.nav-brand {
    font-weight: bold;
}

table, th, td {
    border: 1px solid;
  }

table {
    width: 100%;
  }

.container {
    width: 100%;
     
}

.row {
    border: blue solid 1px;
    width: 100%;
    
  }

.col {
    border: blue solid 25px;
    height: 100px;
    
  }

